.roadMap {
  display: block;
  margin-top: 5px;
}

.list-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: "#AFB663";
}

.roadMap__title {
  margin-top: 20px;
  display: inline-block;
  font-family: "Gorditas", serif;
  font-weight: 700;
  font-size: 42px;
  font-style: normal;
  color: '#FF971D';
}

.road-list{
  font-family: "Gorditas", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.9;
  font-style: normal;
  color: "AFB663";
  padding: 20px;
}