.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo__wrapper {
  display: flex;
}

.header__logo {
  height: 80px;
}

.header__title {
  display: flex;
  align-items: center;
  text-align: center;
}
